---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
<h1 class="text-4xl font-bold text-blue-600 mb-8">
  Välkommen till LORA siten
</h1>

<button class="bg-orange-500 hover:bg-orange-600 text-white px-6 py-2 rounded-lg shadow-lg transition">
  Klicka här!
</button>

	<h1>Hej från min nya <span class="text-gradient">Astro-sida</span></h1>
	<Welcome />
</Layout>
