---
// src/layouts/MainLayouts.astro
const { title = "LORA Site" } = Astro.props;
import '../styles/global.css';
---

<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/LORA.github.io/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-400 text-yellow-400">
    <nav class="p-5 bg-slate-500 text-yellow-400 shadow-sm sticky top-0 z-50">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/LORA.github.io/" class="flex items-center gap-2 group">
  <img 
    src="/LORA.github.io/images/logo.png" 
    alt="LORA Logotyp" 
    class="h-16 w-auto transition-transform group-hover:scale-105"
  />
  <span class="font-bold text-2xl text-yellow-400 tracking-tighter group-hover:text-blue-700">
    LORA nätet
  </span>
</a>

        <div class="flex gap-6 items-center">
          <a href="/LORA.github.io/" class="text-sm font-medium hover:text-blue-600 transition-colors">Hem</a>
          <a href="/LORA.github.io/nodes" class="text-sm font-medium hover:text-Yellow-400 transition-colors">Driftstatus - översikt</a>
          <a href="/LORA.github.io/mqtt-servers" class="text-sm font-medium hover:text-green-400 transition-colors">MQTT Servrar</a>
          <div class="text-xs font-bold text-blue-300 bg-slate-600 px-3 py-1 rounded-full">
            <span id="mqtt-status-text">Väntar på anslutning...</span>
          </div>
        </div>
      </div>
    </nav>

    <main class="container mx-auto p-5 min-h-[80vh]">
      <slot />
    </main>

    <footer class="text-center p-10 text-gray-400 text-sm border-t border-gray-100 mt-10">
      &copy; {new Date().getFullYear()} LORA - Meshtastic Sweden
    </footer>
  </body>
</html>


